.circle {
  background-color: grey;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 30px;
  font-size: 1rem;
  padding: 5px;
}
